body {
 background-image: url(img/korktavle_2.jpg);
}

h1 {
    height: 200px;
    background-color: #ff006c;
    width: 100%;
    text-align: center;
    font-size: 90px;
    color: white;
    font-family: Helvetica, Arial, Myriad-pro;
    padding-top: 100px;
}

#innhold {
    background-color: white;
    width: 800px;
    text-align: center;
    margin: auto;
    height: 100%;
    margin-top: 0px;
}